.RevAlbumMain {
    align-content: left;
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: #cccccc;
}

.RevAlbumImg {
    display: flex;
    width: auto;
    max-width: 20rem;
    justify-self: center;
    margin-right: 1rem;
}

.RevAlbumInfo {
    justify-content: top;
    align-content: left;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
}

.RevTitleBlock {
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.RevAlbumTitle {
    font-size: 2em;
    margin-right: 2rem;
    width: 23rem;
    display: flex;
    flex-wrap: wrap;
}

.RevHeart {
    font-size: 2em;
}

.RevAlbumDetails {
    align-self: baseline;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    font-size: medium;
    width: auto;
    margin-top: 3rem
}

.RevAlbumLine {
    justify-content: left;
    align-content: left;
    display: flex;
    flex-direction: row;
    margin-bottom: .15em;
    font-size: 1.2em;
    line-height: 1.3em;
}

.RevAlbumLineDesc {
    width: 4.5em;
    text-align: right;
    margin-right: .5em;
}

.RevAlbumLineFill {
    display: flex;
    flex-wrap: wrap;
    width: 6em;
}