.SideRev {
    background-color: #335080;
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 96vh;
    padding: .5rem;
    width: 9rem;
    box-shadow: 0 .5rem .8rem rgba(10, 10, 10, 0.3);
}

.AlbmRevBtns {
    background-color: #1E2838;
    justify-content: center;
    align-self: inherit;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    height: 10rem;
    box-shadow: 0 .2rem .3rem rgba(10, 10, 10, 0.3);
}

.AlbmRevBtns Button {
    background-color: #1E2838;
    width: 100%;
    font-family: Roboto;
    color: #cccccc;
    border-radius: 0;
    box-shadow: none;
}

.AlbmRevBtns Button:hover {
    background-color: #4E6891;
    box-shadow: 0 .1rem .2rem rgba(10, 10, 10, 0.3);
}

.UserAlbmRevInfo {
    background-color: inherit;
    justify-content: center;
    align-self: center;
    display: flex;
    font-family: Roboto;
    color: #cccccc;
    font-size: 1rem;
}

.AlbmRevLogOutBtns {
    background-color: inherit;
    justify-content: center;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 1rem;
    text-align: center;
    font-family: Roboto;
    color:#cccccc;
}

.AlbmRevLogOutBtns Button {
    color: #cccccc;
    background-color: inherit;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin-top: .25rem;
    font-family: Roboto;
    color: #cccccc;
}

.AlbmRevLogOutBtns Button:hover {
    background-color: #1E2838;
    box-shadow: 0 .1rem .2rem rgba(10, 10, 10, 0.3);
}