.Favs {
    justify-content: left;
    align-content: left;
    display: flex;
}

.FavsSide {
    margin: 0.5rem;
    flex-direction: row;
}

.FavsMain {
    justify-content: center;
    align-content: center;
    max-width: 80%;
    margin: 0.5rem;
    flex-direction: column;
}