.FavAlbums {
    justify-items: normal;
    align-content: left;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    width: 128rem;
    height: 97vh;
}

.MyFavsHeader {
    justify-content: center;
    align-content: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    z-index: 1;
    margin: 0 0 .2rem 0;
    background-color:#335080;
    box-shadow: 0 .75rem 1rem rgba(10, 10, 10, 0.3);
}

.MyFavsHeaderTitle {
    justify-content: center;
    align-content: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 128rem;
    padding: .5rem 0;
    font-family: Roboto;
    font-size: 1rem;
    color: #cccccc;
    background-color:#335080;
}

.MyFavsHeaderText {
    justify-self: left;
    vertical-align: center;
    text-align: center;
    width: 35rem;
    height: auto;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #cccccc;
    padding: .5rem 1rem;
    background-color: #1E2838;
    box-shadow: 0 .2rem .3rem rgba(10, 10, 10, 0.3);
}

.FavFilter {
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 0 0 0 3rem;
    background-color: #1E2838;
    box-shadow: 0 .2rem .3rem rgba(10, 10, 10, 0.3);
}

.FavFilterText {
    justify-self: left;
    vertical-align: bottom;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #cccccc;
    padding: .5rem 1rem;
}

.FavDropdown {
    vertical-align: middle !important;
    justify-content: center !important;
    align-content: center !important;
}

.FavDropdown button:hover{
    border: none !important;
    outline: none !important;
    background-color: #4E6891 !important;
}

.FavGenreToggle {
    justify-self: left !important;
    vertical-align: middle !important;
    font-family: Roboto !important;
    font-size: 1.3rem !important;
    color: #cccccc !important;
    padding: .2rem 4rem !important;
    margin: .25rem;
    background-color: #335080 !important;
    border: none;
}

.FavGenreToggle:focus {
    border: none !important;
    outline: none !important;
}

.FavGenreDropdown {
    justify-content:center;
    align-content: center;
    display:flex;
    flex-direction: column;
    width: 11.4rem;
    height: auto;
    background-color: #335080 !important;
    border: none;
    box-shadow: 0 .2rem .3rem rgba(10, 10, 10, 0.3);
}

.FavGenreButton {
    text-align: center !important;
    font-family: Roboto !important;
    text-decoration: none !important;
    color: #cccccc !important;
    font-size: 1rem !important;
    padding: .25rem 0;
    border-radius: 0 !important;
}

.FavGenreButton:hover {
    background-color: #4E6891 !important;
    border-radius: 0 !important;
    border: none;
    box-shadow: 0 .1rem .2rem rgba(10, 10, 10, 0.3) !important;
}

.FavAlbumList {
    width: 128rem;
    z-index: 0;
    padding-right: 1rem;
}

.MuiGridList-root{
    -ms-overflow-style: none;
}

.MuiGridList-root::-webkit-scrollbar{
    display: none;
}

/* @Media CSS */

@media only screen and (max-width: 2230px) {

    .FavAlbums {
        width: 117.4rem !important;
    }

    .MyFavsHeaderTitle {
        width: 117.4rem !important;
    }
    .FavAlbumList {
        width: 117.4rem !important;
    }
}

@media only screen and (max-width: 2080px) {

    .FavAlbums {
        width: 106.7rem !important;
    }

    .MyFavsHeaderTitle {
        width: 106.7rem !important;
    }
    .FavAlbumList {
        width: 106.7rem !important;
    }
}

@media only screen and (max-width: 1920px) {

    .FavAlbums {
        width: 96rem !important;
    }

    .MyFavsHeaderTitle {
        width: 96rem !important;
    }
    .FavAlbumList {
        width: 96rem !important;
    }
}

@media only screen and (max-width: 1730px) {

    .FavAlbums {
        width: 85.3rem !important;
    }

    .MyFavsHeaderTitle {
        width: 85.3rem !important;
    }
    .FavAlbumList {
        width: 85.3rem !important;
    }
}

@media only screen and (max-width: 1570px) {

    .FavAlbums {
        width: 74.6rem !important;
    }

    .MyFavsHeaderTitle {
        width: 74.6rem !important;
    }
    .FavAlbumList {
        width: 74.6rem !important;
    }
}

@media only screen and (max-width: 1410px) {

    .FavAlbums {
        width: 64rem !important;
    }

    .MyFavsHeaderTitle {
        width: 64rem !important;
    }
    .FavAlbumList {
        width: 64rem !important;
    }
}