.FavAlbums {
    justify-items: normal;
    align-content: left;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    width: 65rem;
    height: 65.75rem;
}

.MyFavsHeader {
    justify-content: center;
    align-content: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    z-index: 1;
    margin: 0 0 .2rem 0;
    background-color:#335080;
    box-shadow: 0 .75rem 1rem rgba(10, 10, 10, 0.3);
}

.MyFavsHeaderTitle {
    justify-content: center;
    align-content: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 64.75rem;
    padding: .5rem 0;
    font-family: Roboto;
    font-size: 1rem;
    color: #cccccc;
    background-color:#335080;
}

.MyFavsHeaderText {
    justify-self: left;
    vertical-align: center;
    text-align: center;
    width: 35rem;
    height: auto;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #cccccc;
    padding: .5rem 1rem;
    background-color: #1E2838;
}

.MyFavsGenreSearch {
    justify-content:center;
    align-content: center;
    display:flex;
    flex-direction: row;
    width: 64.75rem;
    background-color: #335080;
}

.MyFavsGenreSearch Button {
    color: #cccccc;
    font-size: .7rem;
    border-radius: 0;
}

.MyFavsGenreSearch Button:hover {
    background-color: #4E6891;
    border-radius: 0;

}

.AlbumCards {
    width: 65rem;
    z-index: 0;
}