.FavAlbums {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
    width: auto;
    min-width: 45rem;
}

.FavsHeader {
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    display: flex;
    width: 30rem;
    padding: .5rem 0;
    margin: .5em 1.5em 2em 0;
    background-color: #335080;
    color: #cccccc;
}

.AlbumCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 .25em;
}