.MenuAlbums {
    justify-items: normal;
    align-content: left;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    width: 65rem;
    height: 97vh;
}

.MenuAlbumsHeader {
    justify-content: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    z-index: 1;
    margin: 0 0 .2rem 0;
    box-shadow: 0 .75rem 1rem rgba(10, 10, 10, 0.3);
}

.MenuSearch {
    justify-content: center;
    align-content: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    width: 64.75rem;
    padding: .5rem 0;
    font-family: Roboto;
    font-size: 1rem;
    color: #cccccc;
    background-color:#335080;
}

.MenuSearchBar {
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    box-shadow: 0 .2rem .3rem rgba(10, 10, 10, 0.3);
}

.MenuSearchText{
    justify-self: left;
    vertical-align: bottom;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #cccccc;
    padding: .5rem 1rem;
    background-color: #1E2838;
}

.MenuInput {
    background-color: #ffffff;
    border: 4px solid #1E2838;
    border-radius: 0;
    width: 35rem;
    font-family: Roboto;
    font-size: 1rem;
    color: #1E2838;
    padding: .25rem;
}

.GenreSearch {
    justify-content:center;
    align-content: center;
    display:flex;
    flex-direction: row;
    width: 64.75rem;
    padding: 0 0 .25rem 0;
    background-color: #335080;
}

.GenreSearch Button {
    color: #cccccc;
    font-size: .7rem;
    border-radius: 0;
}

.GenreSearch Button:hover {
    background-color: #4E6891;
    border-radius: 0;
    box-shadow: 0 .1rem .2rem rgba(10, 10, 10, 0.3);
}

.MenuAlbumList {
    width: 65rem;
    z-index: 0;
}
