.albums {
    justify-content: left;
    align-content: left;
    display: flex;
    padding: 1.5em;
    width: auto;
}

.albumCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 .25em;
}