.MyRevsAlbums {
    justify-items: normal;
    align-content: left;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    width: 65rem;
    height: 65.75rem;
}

.MyRevsHeader {
    justify-content: center;
    align-content: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    width: 64.75rem;
    padding: .5rem 0;
    font-family: Roboto;
    font-size: 1rem;
    color: #cccccc;
    background-color:#335080;
}

.MyRevsHeaderText {
    text-align: center;
    justify-self: center;
    font-family: Roboto;
    font-size: 1.3rem;
    width: 30rem;
    color: #cccccc;
    padding: .5rem 1rem;
    background-color: #1E2838;
}

.MyRevsGenreSearch {
    justify-content:center;
    align-content: center;
    display:flex;
    flex-direction: row;
    width: 64.75rem;
    margin: 0 0 1rem 0;
    background-color: #335080;
}

.MyRevsGenreSearch Button {
    color: #cccccc;
    font-size: .7rem;
    border-radius: 0;
}

.MyRevsGenreSearch Button:hover {
    background-color: #4E6891;
    border-radius: 0;

}

.MyRevsAlbumCards {
    width: 65rem;
}

