.MyReviews {
    justify-content: left;
    align-content: left;
    display: flex;
}

.MyReviewsSide {
    margin: 0.5rem;
    flex-direction: row;
}

.MyReviewsMain {
    justify-content: center;
    align-content: center;
    max-width: 80%;
    margin: 0.5rem;
    flex-direction: column;
}
