.SideRevs {
    background-color: #335080;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 99vh;
    padding: .2em;
    width: 9rem;
}

.UserRevsBtns {
    background-color: #1E2838;
    justify-content: center;
    align-self: top;
    display: flex;
    flex-direction: column;
    height: 20%;
    color: #cccccc;
}

.UserRevsBtns Button {
    background-color: #1E2838;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    color: #cccccc;
}

.UserRevsBtns Button:hover {
    background-color: #335080;
}

.UserRevsInfo {
    background-color: inherit;
    justify-content: center;
    align-self: center;
    display: flex;
    margin: 0 .2em;
    color: #cccccc;
    font-size: 1rem;
    height: 70%;
}

.LoginRevsBtns {
    background-color: inherit;
    justify-content: center;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    font-size: 1rem;
    text-align: center;
    color: #cccccc;
}

.LoginRevsBtns Button {
    color: #cccccc;
    background-color: inherit;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin-top: .25rem;
}

.LoginRevsBtns Button:hover {
    background-color: #1E2838;
}

